<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activiti.mapper.UserMapper">

    <select id="findUserInfo" resultType="com.activiti.pojo.user.User">
        SELECT *
        FROM judge_stu_info
        WHERE EMAIL_ADDRESS = #{emailAddr};
    </select>

    <insert id="insertUser" parameterType="com.activiti.pojo.user.User">
        INSERT IGNORE INTO judge_stu_info
        (USER_NAME, EMAIL_ADDRESS, ABILITY_LEVEL)
        VALUES
            (#{userName}, #{emailAddress}, #{abilityLevel})
    </insert>

</mapper>